.sidebar {
    z-index: 999;
    padding: 50px 0;
    min-height: 100vh;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #202930;

    &_show {
        left: 0 !important;
    }

    &_toggle {
        position: absolute;
        right: -48px;
        top: 0;
        background-color: #202930;
        transition: 0.2s linear;
        backface-visibility: hidden;
        will-change: right;

        &_show {
            right: 0;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }
    }

    &_top {
        &_logo {
            padding: 0 24px;
            display: flex;
            justify-content: center;
        }
    }

    @media screen and (max-width: 1024px) {
        position: absolute;
        top: 0;
        left: -300px;
        transition: 0.3s linear;
        backface-visibility: hidden;
        will-change: left;
    }

    &_navigation {
        padding: 24px;

        &_list {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        &_item {
            color: #f1f5f9;
            display: flex;
            padding: 8px;
            margin: 16px 0;
            align-items: center;
            gap: 16px;
            border-radius: 8px;

            &:hover {
                cursor: pointer;
            }
        }
    }

    &_active {
        background-color: #64748b;
    }
}
