.progress {
    background-color: #202930;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    width: 40%;

    &_top {
        border-bottom: 1px solid #fff;
        &_number {
            color: #fff;
            padding: 16px;

            h2 {
                font-size: 1.3rem;
                margin: 0;

                @media only screen and (max-width: 576px) {
                    font-size: 1rem;
                }
            }

            span {
                font-size: 1.4rem;
            }
        }
    }

    &_bottom {
        padding: 16px;
        display: flex;
        color: #fff;

        &_card {
            flex: 1;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 16px;
            padding: 16px;

            h3 {
                font-size: 1.1rem;
                margin: 0;

                @media only screen and (max-width: 1500px) {
                    font-size: 0.9rem;
                }
            }

            @media only screen and (max-width: 576px) {
                padding: 15px 6px;
            }
        }

        @media only screen and (max-width: 576px) {
            padding: 15px 6px;
        }
    }

    @media only screen and (max-width: 1500px) {
        width: 50%;
    }

    @media only screen and (max-width: 1200px) {
        width: 100%;
    }
}

.success {
    color: #7cfc00;
}

.todo {
    color: #ff3131;

    @media only screen and (max-width: 576px) {
        font-size: 0.9rem;
    }
}
