.input {
    position: relative;

    &_toggle_button {
        position: absolute;
        top: 10px;

        &:hover {
            cursor: pointer;
        }

        @media screen and (max-width: 400px) {
            top: 7px;
        }
    }

    &_error {
        position: absolute;
        top: 10px;
        right: 15px;
        z-index: 10;

        @media screen and (max-width: 400px) {
            top: 7px;
        }

        &_select {
            right: 25px;
        }

        &_number {
            right: 35px;
        }
    }

    @media screen and (max-width: 400px) {
        input {
            font-size: 0.8rem;
        }
    }
}

.active_border:focus-visible {
    border-color: #86b7fe !important;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25) !important;
}
