.items_header {
    width: 100%;

    &_top {
        padding: 20px 20px 0 20px;
    }

    &_bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 20px;

        &_search {
            font-size: 1rem;

            input {
                padding: 5px 20px;
                border-radius: 8px;
                background-color: #eceff4;
            }
        }

        &_actions {
            display: flex;
            gap: 16px;
        }
    }
}

.chakra-tabs__tablist {
    width: fit-content;
    margin: 0 auto;
}

.stock {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;

    &-bg-red {
        background-color: #ffcccc;
        color: #7f1d1d;
    }

    &-bg-blue {
        background-color: #cce5ff;
        color: #1e3a8a;
    }

    &-bg-teal {
        background-color: #ccfbf1;
        color: #134e4a;
    }
}

.qr-code-template {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    font-size: 0.9rem;
    transition: scale 0.3s ease;

    &:hover {
        scale: 1.15;
    }
}

.p-link {
    transition: scale 0.3s ease;

    &:hover {
        scale: 1.15;
    }
}
