.profile_form {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 5px;
    width: 50%;

    &_header {
        padding: 24px 24px 6px 24px;
        position: relative;

        h3 {
            margin: 0;
            font-size: 1.3rem;

            @media only screen and (max-width: 576px) {
                font-size: 1.2rem;
            }
        }
    }

    &_body {
        overflow: hidden;
        transition: height 0.3s ease;

        &_form {
            margin: 24px;

            select {
                @media only screen and (max-width: 400px) {
                    font-size: 0.8rem;
                }
            }
        }
    }

    @media only screen and (max-width: 1200px) {
        width: 100%;
    }
}
