.date {
    border-radius: 8px;
    color: #fff;
    width: 90%;
    margin: 0 auto;
    min-height: 62px;
    padding: 0 16px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4px;

    &_top {
        font-size: 1.2rem;
    }

    &_bottom {
        font-size: 0.9rem;
        color: #e2e8f0;
    }
}
