.dashboard {
    &_spinner {
        min-height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &_container {
        display: flex;
        min-height: 100vh;
        overflow: hidden;
    }

    &_main {
        width: 100%;
    }
}

.rooms,
.items {
    padding: 40px 80px;
}
