.login {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
    padding: 100px 0;

    &_image {
        flex: 1;
        padding: 0 8px;

        .image {
            width: 100%;
            height: auto;
            border-radius: 25px;
        }
    }

    @media screen and (max-width: 1200px) {
        padding: 150px 0;
    }

    @media screen and (max-width: 992px) {
        flex-direction: column;
        gap: 50px;
        padding: 50px 0;
    }
}
